body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.setting{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group{
    display: flex;
    gap: 4px;
    align-items: center;
}
label{
    min-width: 50px;
}
.input-group input[type="text"],
.input-group input[type="password"]{
    flex: 1;
    padding: 10px;
}

.buttons{
    display: flex;
    gap: 4px;
    justify-content: end;
}